<footer class="footer">
  <div class="footer__copy">
    Images courtesy of <a href="#" class="footer__link">Unsplash</a>
  </div>
  <div class="footer__text">
    Copyright &COPY;
    <script>
      document.write(new Date().getFullYear());
    </script>
    All rights reserved | Design by Colt Steele, Converted to Code by
    <a href="https://shariul.com" target="_blank" class="footer__link"
      >Md. Shariul Islam</a
    >.
  </div>
  <div class="footer__social">
    <a href="#" class="footer__link">
      <i class="fa-solid fa-hiking footer__icon"></i>
    </a>
    <a href="#" class="footer__link">
      <i class="fa-solid fa-running footer__icon"></i>
    </a>
    <a href="#" class="footer__link">
      <i class="fa-solid fa-walking footer__icon"></i>
    </a>
  </div>
</footer>
