*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //Set 1rem = 10px (10/16*100)
  box-sizing: border-box;
  @include responsive(bp-1200) {
    font-size: 55%;
  }
  @include responsive(bp-1050) {
    font-size: 50%;
  }
  @include responsive(bp-600) {
    font-size: 45%;
  }
}
body {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-default);
  color: var(--color-grey-font);
  line-height: 1.7;
}
::selection {
  background: var(--color-primary-d);
  color: var(--color-grey-l2);
}
